@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.side-margin {
  @apply mx-auto w-[92%] md:w-[82%] lg:w-[75%];
}

.hero-bg {
  background: url("./assets/hero-bg.png") no-repeat;
  background-size: cover;
  background-position: center;
}

.text-upright {
  text-orientation: upright;
}

.carousel-container {
  scroll-snap-type: x mandatory;
}

.carousel-container::-webkit-scrollbar {
  display: none;
}

.carousel-box {
  scroll-snap-align: center;
}
